.cool-button {
  position: relative;
  top: -42px;
  left: 320px;
  margin-left: 17px;
  transition: all 0.75s;
}

.find {
  position: relative;
  top: -42px;
  left: 300px;
  margin-right: 25px;
  margin-left: -17px;
}

.text-info {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 100px;
  padding-bottom: 10px;
  color: #fff;
  /* width: 20px; */
  /* padding: 2rem; */
  text-align: center;
  transition: all 0.75s;
}

.cool-text-bar {
  background-color: #cc7788;
  opacity: 0.8;
  font-size: 2rem;
  border-radius: 9px;
  color: #fff;
  width: auto;
  padding: 2rem;
  margin: 0px;
  text-align: center;
  transition: all 0.75s;
}

.card-back {
  top: 25px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.card-to-find {
  position: absolute;
  top: 17px;
  width: 249px;
  left: 20px;
  margin: 0px;
}

.arrow {
  position: absolute;
  /* top: 540px;
  left: 40px; */
  transition: all 0.4s;
}
.binaryArrow {
  position: absolute;
  /* top: 540px;
  left: 40px; */
  transition: all 0.4s;
}

.card {
  position: relative;
  float: left;
  top: 125px;
  margin-right: 10px;
  margin-bottom: 175px;
  left: 35px;
  transition: all 2s;
}

.linearSearchText {
  position: absolute;
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 100px;
  padding-left: 1%;
  padding-right: 1%;
  color: #fff;
  /* width: 20px; */
  /* padding: 2rem; */
  /* word-wrap: break-word; */
  text-align: center;
  transition: all 0.75s;
}

.binarySearchText {
  position: absolute;
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 100px;
  padding-left: 1%;
  padding-right: 1%;
  color: #fff;
  /* width: 20px; */
  /* padding: 2rem; */
  /* word-wrap: break-word; */
  text-align: center;
  transition: all 0.75s;
}

.search-text-final {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 100px;
  padding-left: 1%;
  padding-right: 1%;
  /* margin-bottom: 30px; */
  color: #fff;
  /* width: 20px; */
  /* padding: 2rem; */
  top: 280px;
  left: 110px;
  text-align: center;
  position: absolute;
  transition: all 0.75s;
}

.search-text-final2 {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 100px;
  padding-left: 1%;
  padding-right: 1%;
  /* margin-bottom: 30px; */
  color: #fff;
  /* width: 20px; */
  /* padding: 2rem; */
  top: 325px;
  left: 110px;
  text-align: center;
  position: absolute;
  transition: all 0.75s;
}
